.titleRow {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: left;

  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.titleRowContent {
  width: 80%;
}

.titleRowIcon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

.plusIconHidden {
  transform: translateY(-50%) rotateX(90deg);
}

.content {
  // a bit hacky
  max-height: 50vh;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}

.contentHidden {
  max-height: 0;
}
